*{
    margin:0;
    padding:0;
}
#galleryWrapper{
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
}
#gallery{
    float: left;
    width: 90%;
}
#gallery img{
    width: 100%;
}

.arrowBox{
    float: left;
    width: 5%;
}

.arrowBox img{
    margin-top: 600%;
    width: 96%;
    padding: 2%;
}
.arrowBox img:hover{
    cursor: pointer;
    width: 92%;
}
.arrowBox img:active{
    width: 85%;
}
